.calc{
     margin-left: 52vh;
    margin-top: 12vh;
    margin-bottom: -8vh;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.resize{
display:flex;
justify-content: center;
align-items: center;
}