.adjust{
      margin: 50vh;
    margin-left: 49vh;
    margin-bottom: -28vh;
    width: 48vh;
    height: 21vh;
    margin-top: 13vh;
    background-color: rgb(222, 211, 211);
    border: 15px solid black;
    outline: none;
}