.adjust{
    margin:18rem;
    margin-left:30rem;
    margin-bottom:-18rem;
    width: 325px;
    height: 8rem;
    margin-top:8rem;
    background-color: rgb(222, 211, 211);
    border:15px solid black;
    
}